html {
  margin: 0px 200px;
  font-family: Arial, Helvetica, sans-serif;
}

.colors,
.fonts,
.text-styles {
  margin-bottom: 20px;
}

/* Colors */

.colors {
  border: 2px solid gray;
  padding: 20px;
}

.colors div {
  display: inline-block;
  text-align: center;
  height: 100px;
  margin: 10px;
  width: 300px;
}

.colors div p {
  position: relative;
  top: 20px;
}

#purple {
  background-color: #cd00cd;
}

#pastelpink {
  background-color: #ffd1dc;
}

#turquoise {
  background-color: #aec6cf;
}

#royalblue {
  background-color: #4169e1;
}

/* Fonts */

.fonts {
  line-height: 2;
  font-size: 20px;
  border: 2px solid gray;
  padding: 20px;
}

#mochiy {
  font-family: "Mochiy Pop P One", sans-serif;
}

#yuji {
  font-family: "Yuji Boku", sans-serif;
}

#josefin {
  font-family: "Josefin Sans", sans-serif;
}

/* Text styles */

.text-styles {
  border: 2px solid gray;
  padding: 20px;
}

#h1 {
  font-weight: 700;
  font-size: 40px;
  font-family: "Josefin Sans", sans-serif;
}

#h2 {
  font-weight: 500;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
}

#em {
  font-weight: 400;
  font-size: 15px;
  font-family: "Mochiy Pop P One", sans-serif;
}