html {
  font-size: 26px;
}

body {
  font-family: "Mochiy Pop P One", Arial, sans-serif;
  margin: 0px;
  background-color: lightgoldenrodyellow;
}

/* Header */
#title {
  grid-area: 1 / 2;
  display: grid;
  grid-template: 1fr / 3fr 1fr;
  max-width: 1400px;
  justify-content: space-around;
}

#title h1 {
  grid-area: 1 / 1;
}

#title img {
  max-width: 1000px;
  grid-area: 1 / 2;
}

/* Main */
main {
  display: grid;
  grid-template: 400px minmax(100px, auto) 500px 1fr 100px / 15% 1fr 15%; 
}

#introduction,
#members,
#games {
  padding: 20px 50px;
  background-color: white;
  border-top: black 5px solid;
}

/* Title */
h1 {
  position: relative;
  top: 50px;
  left: 150px;
  font-size: 4rem;
}

/* Introduction */
#introduction {
  grid-area: 2 / 2;
  height: 100%;
}

#introduction p {
  margin: 0;
}

/* Members */
#members {
  grid-area: 3 / 2;
}

/* Games */
#games {
  grid-area: 4 / 2;
}

#games-list {
  display: flex;
}

/* Footer */
footer {
  grid-area: 3 / 2;
}