body {
  margin: 0px;
  font-family: Quicksand, Arial, sans-serif;
  background-color: grey;
  font-size: 26px;
}

main {
  display: grid;
  grid-template: 250px 200px 1fr / 10% 1fr 10%;
}

#who-are-we,
#services {
  grid-area: 1 / 2;
  background-color: azure;
}

/* Title part */

#title {
  grid-area: 1 / 2;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
  background-image: url("./title-background.png");
  background-repeat: no-repeat;
  background-position: 0% 30%;
  background-size: cover;
}

#title h1 {
  grid-area: 2 / 2 / span 1 / span 1;
}

/* Who are we */

#who-are-we {
  grid-area: 2 / 2;
  border-bottom: 1px solid black;
  display: grid;
  grid-template: 20px 1fr 20px / 50px 300px 1fr 50px;
  max-width: 100%;
}

#who-are-we h2 {
  grid-area: 2 / 2;
}

#who-are-we p {
  grid-area: 2 / 3;
}

/* Services */

#services {
  grid-area: 3 / 2;
  padding: 20px 50px;
}

#services-text {
  display: flex;
}

#services h2 {
  width: 300px;
}

#services-webdev,
#services-discord {
  flex-wrap: wrap;
  width: 50%;
  background-color: #c0cccc;
  margin: 0px 10px;
  padding: 0px 20px;
}