body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* Header */
header {
  border-bottom: 1px solid seashell;
  background-color: black;
  height: 69px;
  width: 100%;
  position: fixed;
  text-align: left;
}

header img {
  margin-left: 10px;
  height: 50px;
}

header span {
  text-decoration: underline;
  text-align: right;
}

/* Main */
main {
  padding-top: 69px;
}

#our-mission {
  background-image: url("images/background.webp");
  height: 700px;
  display: flex;
  align-items: center;
}

#our-mission-text {
  width: 1200px;
  background-color: black;
}

/* Footer */
footer {
  text-align: left;
}