body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/* Header */
header {
  border-bottom: 1px solid seashell;
  height: 69px;
  position: fixed;
}

header * {
  display: inline-flex;
}

header img {
  margin-left: 10px;
  height: 50px;
  text-align: left;
}

header span {
  text-decoration: underline;
  align-items: right;
}

/* Main */
main {
  padding-top: 69px;
}

/* Footer */
footer {
  text-align: left;
}