* {
  text-align: center;
  font-family: Consolas;
  background-color: rgb(228, 228, 228);
}

h1 {
  size: 20px;
  color: pink;
  background-color: white;
}

h2 {
  border: 2px solid rgb(213, 44, 255);
  background-color: rgb(255, 231, 243);
  margin-left: 100px;
  margin-right: 100px;
}

table {
  width: 750px;
}

th {
  border: 2px solid rgb(213, 44, 255);
  background-color: white;
}

td {
  border: 1px solid rgb(213, 44, 255);
  background-color: white;
}

.tag {
  font-family: monospace;
  background-color: white;
}