* {
  text-align: center;
  font-family: Consolas;
  
}

h1 {
  size: 20px;
  color: pink;
}

h2 {
  border: 2px solid rgb(213, 44, 255);
  background-color: rgb(255, 231, 243);
}

th {
  border: 2px solid rgb(213, 44, 255);
  background-color: rgb(255, 231, 243);
}

td {
  border: 1px solid rgb(213, 44, 255);
}